<a href="https://colab.research.google.com/github/HUWenxiao79/DSMA/blob/main/pandasW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas
## Series (Columns in EXCEL)

### Creating SERIES from Lists and PRINT function

In [1]:
import pandas as pd

my_list = [123,2134,123] # a list of integers

#let's make this list into a pandas series
my_series = pd.Series(my_list)

In [2]:
my_series2 = my_series

In [3]:
print(f'My list: {my_list}\nMy Series: \n{my_series}')

My list: [123, 2134, 123]
My Series:
0     123
1    2134
2     123
dtype: int64

In [4]:
#accessing individual elements
print(my_series[1])

2134

### RENAME the index

In [5]:
#renaming the index
#way 1: name index while making it into series
my_series1 = pd.Series(my_list,index = ["first", "second", "third"])

#way 2: by rename the loaded data
my_series2 = my_series.rename(index = {0:"first",1:"second",2:"third"}) 
#Q: there is also the "inplace" option. Remember what it does?  
#A: "inplace" by default is FALSE, which means that the actual index name in the original data will not be changed.
#    If "inplace" is TRUE, it actually change the indexes.

In [6]:
print(f'1:\n{my_series1}\n2: \n{my_series2}')

1:
first      123
second    2134
third      123
dtype: int64
2:
first      123
second    2134
third      123
dtype: int64

### Creating SERIES and DATAFRAME from Dictionary

In [7]:
#Creating a series from a dictionary
dicty = {"first":"lalala","second":123,"third":99.4}
my_dictseries = pd.Series(dicty) #if you specify the index here, the series will only consist of the specified indexes e.g.: my_dictseries = pd.Series(dicty, index = ["first","third"])

In [8]:
print(f'Series from dict:\n{my_dictseries}')

Series from dict:
first     lalala
second       123
third       99.4
dtype: object

In [9]:
# Creating a DataFrame from a dictionary
data = {'Name': ['Camilla', 'Pelle', 'Yu-Hsuan'],
        'Age': [25, 22, 24]}
df = pd.DataFrame(data)

In [10]:
df

       Name  Age
0   Camilla   25
1     Pelle   22
2  Yu-Hsuan   24

## Dataframes (Sheet in EXCEL)

In [11]:
#we can merge series to create a dataframe
df1 = pd.concat([my_series1, my_series2,my_dictseries], axis=1)
# axis=1, 沿列方向合并（水平合并）； axis=0, 沿行方向合并（垂直合并）

#or we can create one from a dictionary (typically a dictionary of lists)
d = {"ex1":[89,8,6,1,2,7,6],"ex2":[7,5,1,66,8,74,1]}
df2 = pd.DataFrame(d)

In [12]:
print(f'Df1:\n{df1}\nDf2:\n{df2}')

Df1:
           0     1       2
first    123   123  lalala
second  2134  2134     123
third    123   123    99.4
Df2:
   ex1  ex2
0   89    7
1    8    5
2    6    1
3    1   66
4    2    8
5    7   74
6    6    1

## loc (locate)

In [13]:
#access specific row using loc
loc1=df2.iloc[3]

#multiple
loc2=df2.iloc[[3,5]]

#可以loc/iloc一个list，比如想找loc为list=[2,3,5,6,7]的，就可以df2.loc[list]

#loc 与 iloc的区别：
# loc（修改后）是按行的标签（通常是索引）来查找，比如查找一个标签是2023-10-2日为索引的行，则要用loc
# iloc（最原始）是按行的整数位置索引，比如想获取第二行，iloc[1]

In [14]:
print(f'One row:\n{loc1}\nMultiple rows:\n{loc2}')

One row:
ex1     1
ex2    66
Name: 3, dtype: int64
Multiple rows:
   ex1  ex2
3    1   66
5    7   74

## reading in files

In [15]:
#确保和python文件在一个文件夹中
df = pd.read_csv('trump_insult_tweets_2014_to_2021.csv', index_col=0)
# index_col=0 的意思是将column=0列的列作为index
# 在后续也可以用 set_index 来改变

In [16]:
df.head(12) # check what does it looks like

,date,target,insult,tweet
1,2014-10-09,thomas-frieden,fool,"Can you believe this fool, Dr. Thomas Frieden ..."
2,2014-10-09,thomas-frieden,DOPE,"Can you believe this fool, Dr. Thomas Frieden ..."
3,2015-06-16,politicians,all talk and no action,Big time in U.S. today - MAKE AMERICA GREAT AG...
4,2015-06-24,ben-cardin,It's politicians like Cardin that have destroy...,Politician @SenatorCardin didn't like that I s...
5,2015-06-24,neil-young,total hypocrite,"For the nonbeliever, here is a photo of @Neily..."
6,2015-06-24,rockin-in-the-free-world,didn't love it,".@Neilyoung’s song, “Rockin’ In The Free World..."
7,2015-06-25,willie-geist,uncomfortable looking,Uncomfortable looking NBC reporter Willie Geis...
8,2015-06-25,jeb-bush,will NEVER Make America Great Again,"Just out, the new nationwide @FoxNews poll has..."
9,2015-06-25,molly-sims,a disaster,The ratings for The View are really low. Nicol...
10,2015-06-25,nicole-wallace,a disaster,The ratings for The View are really low. Nicol...
11,2015-06-25,the-view,dead T.V.,The ratings for The View are really low. Nicol...
12,2015-06-25,the-view,put it to sleep,The ratings for The View are really low. Nicol...

In [20]:
loc3=df.iloc[1]
loc4=df.loc[2]
print(f'iLOC:\n{loc3}\nLOC:\n{loc4}')

iLOC:
date                                             2014-10-09
target                                       thomas-frieden
insult                                                 DOPE
tweet     Can you believe this fool, Dr. Thomas Frieden ...
Name: 2, dtype: object
LOC:
date                                             2014-10-09
target                                       thomas-frieden
insult                                                 DOPE
tweet     Can you believe this fool, Dr. Thomas Frieden ...
Name: 2, dtype: object

In [17]:
df.tail(7)# specify last 7 rows

,date,target,insult,tweet
10354,2021-01-05,democrats,emboldened Radical Left Democrats,Washington is being inundated with people who ...
10355,2021-01-06,mike-pence,didn’t have the courage to do what should have...,Mike Pence didn’t have the courage to do what ...
10356,2021-01-06,2020-election,Many States want to decertify the mistake they...,If Vice President @Mike_Pence comes through fo...
10357,2021-01-06,2020-election,"based on irregularities and fraud, plus corrup...","States want to correct their votes, which they..."
10358,2021-01-06,2020-election,Our Election Process is worse than that of thi...,"They just happened to find 50,000 ballots late..."
10359,2021-01-06,2020-election,a FRAUD,The States want to redo their votes. They foun...
10360,2021-01-06,chuck-todd,"Sleepy Eyes, Sad to watch!",Sleepy Eyes Chuck Todd is so happy with the fa...

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10360 entries, 1 to 10360
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    10360 non-null  object
 1   target  10358 non-null  object
 2   insult  10360 non-null  object
 3   tweet   10360 non-null  object
dtypes: object(4)
memory usage: 404.7+ KB

In [19]:
df.shape #how many rows and how many columns

(10360, 4)