# Data and Social Media Analysis Homework Assignments
In this notebook you can find the weekly assignments / homework for the Data and Social Media Analysis course.

The assignments in this notebook will be updated constantly so make sure to check!

I also recommend that you read through all the questions before you start solving them as sometimes you might be able to more efficiently do more than one question at the same time instead of multiple solutions.

In [1]:
import pandas as pd

# Week 2

*Question 10. is extra for bonus points. If you find questions 1-9 really easy, I recommend you do question 10 as well.*


1. Create two lists of integers.
5. Make these two lists into two separate series.
6. Merge these series into one dataframe.
7. **What is the axis number in your solution for 3.?**
1.   Read in the Trump Twitter insults csv file that you can find on Moodle under week 3. Read it in as a pandas dataframe. Use .head(), .shape() etc. to look at the file.
2.   Take a look at the documentation for set_index and set the first column as the new index. (Awesome if you can make this "pretty", but it's OK if you can't.)
3. **What is the new number of the first index?**
4. Access the cell in the 1274th row in the "insult" column.
5. **What is the value of the cell in 8.?**
10. Use range with a for loop to iterate through integers up to and including 100 starting from and including 1. Use conditionals (if statements) to create a new list from this information of the integers that are divisible by 4. Use loc to access the rows with the indexes in the list you just created and save it as a new dataframe.

In [2]:
# Question 1:
list1 = [102,15,129]
list2 = [21,388,20]

In [3]:
# Question 2:
series1 = pd.Series(list1,index = ["first","second","third"])
series2 = pd.Series(list2,index = ["first","second","third"])
print(f'Series1:\n{series1}\nSeries2:\n{series2}')

Series1:
first     102
second     15
third     129
dtype: int64
Series2:
first      21
second    388
third      20
dtype: int64

In [4]:
# Question 3:
df1 = pd.concat([series1,series2], axis=1)
print(df1)

          0    1
first   102   21
second   15  388
third   129   20

In [5]:
#Question 4: 1

In [6]:
#Question 5: 
df2 = pd.read_csv('trump_insult_tweets_2014_to_2021.csv')

In [7]:
df2.head()

,Unnamed: 0,date,target,insult,tweet
0,1,2014-10-09,thomas-frieden,fool,"Can you believe this fool, Dr. Thomas Frieden ..."
1,2,2014-10-09,thomas-frieden,DOPE,"Can you believe this fool, Dr. Thomas Frieden ..."
2,3,2015-06-16,politicians,all talk and no action,Big time in U.S. today - MAKE AMERICA GREAT AG...
3,4,2015-06-24,ben-cardin,It's politicians like Cardin that have destroy...,Politician @SenatorCardin didn't like that I s...
4,5,2015-06-24,neil-young,total hypocrite,"For the nonbeliever, here is a photo of @Neily..."

In [8]:
df2.shape

(10360, 5)

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10360 entries, 0 to 10359
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10360 non-null  int64
 1   date        10360 non-null  object
 2   target      10358 non-null  object
 3   insult      10360 non-null  object
 4   tweet       10360 non-null  object
dtypes: int64(1), object(4)
memory usage: 404.8+ KB

In [10]:
#Question 6:
df3 = df2.set_index(df2.columns[0])
df3.head(2)

,date,target,insult,tweet
Unnamed: 0,,,,
1,2014-10-09,thomas-frieden,fool,"Can you believe this fool, Dr. Thomas Frieden ..."
2,2014-10-09,thomas-frieden,DOPE,"Can you believe this fool, Dr. Thomas Frieden ..."

In [11]:
#Question 7: 1

In [12]:
#Question 8:
loc1= df3.iloc[1273]
#use loc
loc2= df3.loc[1274]

In [13]:
#Question 9:
print(f'USE ILOC:\n{loc1}\nUSE LOC:\n{loc2}')

USE ILOC:
date                                             2016-05-01
target                                            karl-rove
insult                                   a failed Jeb Bushy
tweet     .@KarlRove is a failed Jeb Bushy. Never says a...
Name: 1274, dtype: object
USE LOC:
date                                             2016-05-01
target                                            karl-rove
insult                                   a failed Jeb Bushy
tweet     .@KarlRove is a failed Jeb Bushy. Never says a...
Name: 1274, dtype: object

In [14]:
#Question 10:
list=[]
for i in range (1,101):
    if i % 4 == 0:
        list.append(i)
df4 = df3.loc[list]
df4

,date,target,insult,tweet
Unnamed: 0,,,,
4,2015-06-24,ben-cardin,It's politicians like Cardin that have destroy...,Politician @SenatorCardin didn't like that I s...
8,2015-06-25,jeb-bush,will NEVER Make America Great Again,"Just out, the new nationwide @FoxNews poll has..."
12,2015-06-25,the-view,put it to sleep,The ratings for The View are really low. Nicol...
16,2015-06-25,lawrence-o-donnell,one of the dumber people on television,"I hear that dopey political pundit, Lawrence O..."
20,2015-06-26,john-roberts,my judicial appointments will do the right thi...,"If I win the presidency, my judicial appointme..."
24,2015-06-29,saudi-arabia,"without us, gone!",Saudi Arabia should be paying the United State...
28,2015-07-01,george-pataki,"terrible governor of NY, one of the worst",.@GovernorPataki was a terrible governor of NY...
32,2015-07-02,macys,Macy's stock just dropped,.@Macys stock just dropped. Interesting. So ma...
36,2015-07-03,southern-border,totally out of control,Our Southern border is totally out of control....
40,2015-07-05,rick-perry,failed at the border,Rick Perry failed at the border. Now he is cri...
44,2015-07-07,macys,Wow! I hear that thousands of people are cutti...,Wow! I hear that thousands of people are cutti...
48,2015-07-09,george-w-bush,"wants $120,000 to make a boring speech",You mean George Bush sends our soldiers into c...
52,2015-07-09,forbes,failing,Dummy @Clare_OC from failing @Forbes magazine:...
56,2015-07-09,barack-obama,hollowing out our military,Obama and Republicans are hollowing out our mi...
60,2015-07-11,macys,no guts no glory,I love that thousands of people are boycotting...
64,2015-07-12,mexico,unbelievable corruption,Mexico's biggest drug lord escapes from jail. ...
68,2015-07-13,chuck-todd,sleepy eyes,I hear that sleepy eyes @chucktodd will be fir...
72,2015-07-13,mexico,totally corrupt gov't,Mexico’s totally corrupt gov’t looks horrible ...
76,2015-07-15,karl-rove,has no credibility,.@FoxNews should not put @KarlRove on—he has n...
80,2015-07-16,karl-rove,made fool of himself in '12,Irrelevant clown @KarlRove sweats and shakes n...
84,2015-07-16,penn-jillette,wrote letter to me begging for forgiveness,I loved firing goofball atheist Penn @pennjill...
88,2015-07-16,karl-rove,didn't win one race,.@KarlRove wasted $400 million + and didn’t wi...
92,2015-07-16,lawrence-o-donnell,dopey,"Dopey @Lawrence O’Donnell, whose unwatchable s..."
96,2015-07-16,iran-deal,poses a direct national security threat,The Iran deal poses a direct national security...
100,2015-07-16,rick-perry,doesn't understand what the word demagoguery m...,.@GovernorPerry just gave a pollster quote on ...

# week 3

1. How many dimesions are there in the numpy array


```
np.array([[[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]]])
```
2.  Read in the same Trump insults file as last week. Similarly to last week set the first column as index. Can this be done at the same time you read the file in? Check the documentation.　If possible, do so.
3. Access the 3456th row in the target column using both loc and iloc. How does the syntax change?
4. Now this gets a bit more difficult. Save the Boolean value of the check if the data is after January 1, 2016 in a new column. This should result in a dataframe identical to the old one, but with an extra column with the value True if the date is after 2016 and False if it is before 2016.
5. Similar to above, create one more new column that has the values True/False depending on whether the date is after 2014 AND the insult is "Dumb".
6. How many instances of Trump calling someone "dumb" are there in the data regardless of date?
7. **Extra:** How many different insults does Trump use in this data?
8. **Extra:** How many different entities (people, organizations, etc) does he insult?
9. **Extra:** Who does he insult the most?

# week 4


1.   Read in the student exam performance csv file and set the first column as index
2.   Use groupby to sort the data to show the mean (average) math score for each level of parental education.
3. **Which level has the highest vs. lowest scores?**
4. Does the educational background of the parents have the same influence on reading and writing scores?
5. Adjust the race values for parental education. That is, sort by parental education and then race,
6.　and then get the aggregate values (len, min, max, mean, and standard devation)
7. **Extra**: Check for statistical significance of gender on reading scores.
8. **Extra**: Check for statistical significance of parents' college degree (BA or MA) on math scores.  (Hint: you can use *from scipy.stats import ttest_ind* for t-tests) And remember, this is a programming not a statistics assignment so you will be scored on the solution not the absolute correctness of your statistical analysis.

# Week 5
Use the same file as last week.


1.   Import seaborn and matplotlib in addition to pandas and numpy.
2.   Use the binary data from last week with the parents' level of education to check for a correlation with math, reading, and writing scores. Your correlation matrix should be a 4x4 matrix.
4. Pick a color scheme that you like and that we haven't used in class yet.
5. Create a scatterplot that shows the parents' level of education on the y axis and the math score on the x axis.
6. Why does this scatterplot not work as well as it might? Can you think of a better visualization to present this data?
7. Create dummy scores for the lunch data and check for a correlation with reading scores.

# Week 6 Exploratory data analysis

No homework. But small midterm next week.

# Week 7 Scraping



1.   Read in the json file on Moodle
2.   Flatten the json file until there's nothing to flatten anymore (keep all the data in the same dataframe)
3. How many times did you flatten it?
3. Choose a video on youtube and scrape the comments from that video
4. What file format is the data?
6. **BONUS: Tokenize the comments.**
7. **How many tokens are there? bold text**

# Week 8
No homework because of NLP4DH conference


# Week 9
1. Use urllib to download any book from Project Gutenberg (or any text from anywhere on the web)
2. tokenize the text using nltk
3. tokenize the text using spacy
4. lemmatize the text using spacy
5. create a dataframe with one row per token and a column for token, lemma, pos, tag, whether alphabetic, and whether stopword
6. download two more books/texts where one of the books/texts is by the same author as the original, and the other one by a different author
7. use spacy document similarity measures to check which one of the new texts is more similar to the original text
8. **Bonus**: as you can see, the similarities seem to be too high. Can you find/think of why this might be? ([hint](https://spacy.io/usage/spacy-101#vectors-similarity))
9. **Super bonus**: Use one of [these](https://towardsdatascience.com/calculating-document-similarities-using-bert-and-other-models-b2c1a29c9630) (tfidf, sense2vec, word2vec, glove, BERT, sentence transformers or something similar) methods to recalculate the similarities. What do you get? What changes? Which method do you think is more reliable?

#other similarity measures
###tfidf

# Week 10 Topic Modeling
1. Download a longer book or several books by the same author from Project Gutenberg.
3. Use BERTopic to create your topic model.
  1. BERTopic likes sentences as input. Do not preprocess the text.
  1. Can you improve on the model? Feel free to Google "fine-tuning BERTopic".
  2. Can you create any other visualizations?
  3. Can you get a coherence score for the BERT topic model?
2. For LDA Do the appropriate pre-processing steps. This means:
  1. Removal of superfluous characters (look at your data!)
  2. Tokenization.
  3. Stopword removal
  4. Lemmatization.
4. Create bigram and trigram models.
5. Create the topic model.
6. Calculate the coherence score of your model.
8. What is the optimal number of topics if we go by the coherence score?
9. Can you visualize this appropriately?

# Week 11 Network Analysis

1. import all the relevant libraries
2. Create a network with the characters from Snow White as the nodes:
    Snow White, Evil Queen, King, Prince, 7 dwarfs, Huntsman
3. Add the appropriate edges (i.e. the dwarfs only know Snow White)
4. **Extra:** Can you think of a way of creating the edge list without having to manually type in all the connections?
5. Let's do some real social media network analysis! Use the Twitter.edges file from Moodle. Note that you can read it in as a dataframe but you have to set the separator in this case!
6. Create a similar network visualization from this data as you did with the snow white data.
7. How many communities can you find?
7. **Extra:** How would you make the visualization more appealing and clear? Maybe some community detection? Different colors?

##Extra facebook network analysis example

Learn more [here](https://orbifold.net/default/community-detection-using-networkx/)

# Week 12: Lexicon-based sentiment analysis

1. Choose a text and pre-process it appropriately (you should know what this means by now, if not, check out what we did in week 9, 10, and 11)
2. Create your own version of an emotion or sentiment lexicon based on an existing one (such as the NRC emotion lexicon or the Emotion Intensity lexicon). You can choose to focus on sentiments or specific emotions or whatever you think might be interesting.
3. Visualize the emotions in your chosen text somehow. You can use a graph:
![images.png]()

4. or radar chart

![Joy-and-anger-radar-chart-for-all-basic-emotions-Ashville.png]()

or something completely different.
5. Based on your results, what can you say about your chosen text?

# Week 13 Machine Learning

1. Use the provided heart failure dataset (on Moodle) and preprocess if necessary.
2. Understand the data and what's in it (use TAD, matplotlib visualization, whatever you think will help you)
3. Can you predict who's heart will fail and whose heart will not fail? (Use any classifier you like)
  
  1. Based on q2 choose the features that are important (the x in most types of models)
  2. use the ***death event*** as the "label" (the y in most types of models)
  3. split the data into training and testing (scikit learn has a built-in function for this)
  4. Fit the data into your model
  5. Get the predictions.
4. What is your accuracy?
5. Print a confusion matrix of the results.
5. Can you get a higher accuracy by using a different classifier?
   *  Probably. What is the best performing model?





Feel free to use existing code, but make sure to include something unique and not just copy paste from elsewhere! For example, you could add a new classifier that wasn't used in the original code.

Remember that any classifier you need to use is built into scikit learn.


```
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from mlxtend.plotting import plot_confusion_matrix

from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
```



***DON'T GIVE UP!  If you are really stuck, don't hesitate to contact me. This one can be a bit tricky, but I know every single one of you is capable of finishing this week's homework. It is much easier than it seems.***

For example, once you pick the x and y and split the data appropriately, you can use this code for a DecisionTree classifier:


```
dt_clf = DecisionTreeClassifier(max_leaf_nodes=3, random_state=0, criterion='entropy')
dt_clf.fit(x_train, y_train)
dt_pred = dt_clf.predict(x_test)
dt_acc = accuracy_score(y_test, dt_pred)
accuracy_list.append(dt_acc)
```

# Week 14 Sentiment Analysis II
This week's homework is based on this ntoebook on Kaggle: https://www.kaggle.com/stoicstatic/twitter-sentiment-analysis-for-beginners

As we are nearing the end and I hope you are focusing on your final projects, I wanted to choose something simple and straight-forward. So:
1. Take a look at the Kaggle tutorial for Twitter Sentiment analysis.
2. Run the notebook and try to understand as much of the code as possible (it is possible to download the notebook and run on colab or to run it directly on Kaggle).
3. Try an additional 2-4 classifiers to see what works best. (Check out other notebooks or scikit learn's documentatino for available classifiers. OR week 15 for new ideas!)
4. Why do you think the best performing classifier works the best in this case?